<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registered Students</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    h1{
        text-align: center;
        margin-top: 40px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: -30px;
        font-size: 50px;
    }


</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3fadab; font-size:x-large;border: 0px solid black;border-radius: 7px;margin: 10px;">
        <div class="container-fluid">
            <a class="navbar-brand"><img
                    src="https://www.iiitd.ac.in/sites/default/files/images/logo/style1invertedgreyscalelarge.png"
                    class="logo" width="80"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">

                    <a class="nav-link active" href="/login/">Login</a>
                    <a class="nav-link" href="/register/"> shdj</a>

                </div>
            </div>
        </div>
    </nav>

    <h1>Registered User's</h1>
    <div class="mx-auto">
        <table class="mx-auto table table-striped table-bordered" style="width:80%;margin-top:100px" ;>
            <thead class="table-success">
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">


                <tr>
                    <td>asdf1</td>
                    <td>asdf1@gmail.com</td>
                </tr>

                <tr>
                    <td>asdf2</td>
                    <td>asdf2@gmail.com</td>
                </tr>

                <tr>
                    <td>asdf3</td>
                    <td>asdf3@gmail.com</td>
                </tr>

                <tr>
                    <td>asdf5</td>
                    <td>asdf5@gmail.com</td>
                </tr>

                <tr>
                    <td>asdf6</td>
                    <td>asdf6@gmail.com</td>
                </tr>

                <tr>
                    <td>asdf7</td>
                    <td>asdf7@gmail.com</td>
                </tr>

                <tr>
                    <td>asdf8</td>
                    <td>asdf8@gmail.com</td>
                </tr>

                <tr>
                    <td>asdf9</td>
                    <td>asdf9@gmail.com</td>
                </tr>


                <tr>
                    <td colspan="2" style="text-align: center"><a href="/course/11/adminPage/"
                            class="btn btn-outline-success">Done</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>