{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registered Students</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="mx-auto">
        <table class="mx-auto table table-striped table-bordered" style="width:60%;margin-top:50px" ;>
            <thead class="table-success">
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for user in users %}
                    <tr>
                        <td>{{user.0}}</td>
                        <td>{{user.1}}</td>
                        <td>{{user.2}}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" style="text-align: center">No Users to register</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" style="text-align: center"><a href="{% url 'adminRts' courseID %}"
                        class="btn btn-outline-success">Done</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>