{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'slots/styles.css' %}" type="text/css">
    <!-- <script src="booking.js" async></script> -->
    <title>Document</title>
</head>
<body>
    <h1 class="page-header booking-header">Book Slot</h2>
    <section class="container dropdown-option day-option">
        <form class="dropdown-form" method="POST" action="">
            {% csrf_token %}
            <legend class="form-legend">Choose a Day</legend>
            <select value={{selected_day}} name="days" id="days">
                {% for day in days %}
                    <option value="{{ day }}">{{day}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary btn-form-submit" type="submit" name="select_day">Search</button>
        </form>
    </section>
    <section class="container slot-booking">
        <div class="flex-container">
            <div class="table-legend">
                <div class="legend-item"><div class="box red"></div> : Unavailable</div>
                <div class="legend-item"><div class="box green"></div> : Available</div>
                <div class="legend-item"><div class="box orange"></div> : Booked</div>
            </div>
            <table class="booking-table">
                <thead>
                    <tr>
                        <th scope="col">Slots</th>
                        <th scope="col">Board 1</th>
                        <th scope="col">Board 2</th>
                        <th scope="col">Board 3</th>
                        <th scope="col">Board 4</th>
                        <th scope="col">Board 5</th>
                        <th scope="col">Board 6</th>
                        <th scope="col">Board 7</th>
                        <th scope="col">Board 8</th>
                        <th scope="col">Board 9</th>
                        <th scope="col">Board 10</th>

                    </tr>
                </thead>
                <tbody>
                    {% for time_sched in time_schedules %}
                        <tr>
                            <th scope="row">{{time_sched.time_slot}}</th>
                            {% for board in boards %}
                                {% if board.time_slot == time_sched.time_slot %}
                                    {% if board.board %}
                                        <td class="slot unavailable">Unavailable</td>
                                    {% else %}
                                        <td class="slot"></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>    
        <form class="timing-form" method="POST">
            {% csrf_token %}
            <label for="time-slot">Time Slot:</label>
            <input type="text" name="time-slot" id="time-slot">
            <br>
            <label for="board">Board No.:</label>
            <input type="text" name='board' id="board">
            <br>
            <label for="day">Day:</label>
            <input type="text" name='selected_day' id="day-selected" value={{selected_day}}>
            <br>
            <div class="timimg-form-submit">
                <button class="btn btn-primary btn-timing-submit" type="submit" name="select_time">Submit</button>
                <button class="btn btn-danger btn-clear" type="button">Clear</button>
            </div>
        </form>
    </section>
    <!-- {{data|json_script:"data"}} -->
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
    <script src="{% static 'slots/booking2.js' %}" async></script>
</body>
</html>