{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="card mx-auto" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title">Reset Password</h5>
                <hr>
                <form method="post" action="{% url 'resetPass' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput2" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput2" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput3" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput3" name="password">
                    </div>
                    <hr>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-outline-warning">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>