/* importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #c2d9ff;
}

.container {
    max-width: 600px;
}

.card {
    margin-top: 10%;
}

.tasks {
    margin: auto;
    padding: 1%;
    padding-top: 1.5%;
    height: 45px;
    width: 40%;
}

.outpad {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
}