asgiref==3.5.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
cffi==1.15.0
cryptography==36.0.2
Django==4.0.4
django-appconf==1.0.5
django-crispy-forms==1.14.0
django-filter==22.1
django-imagekit==4.1.0
Markdown==2.6.11
numpy==1.22.3
opencv-python==4.5.5.64
pandas==1.4.3
paramiko==2.10.3
pilkit==2.0
Pillow==9.1.0
pinax-blog==8.0.1
pinax-images==5.0.1
pycparser==2.21
Pygments==2.12.0
PyNaCl==1.5.0
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
