asgiref==3.5.0
bcrypt==3.2.0
cffi==1.15.0
cryptography==36.0.2
Django==4.0.4
django-crispy-forms==1.14.0
numpy==1.22.3
opencv-python==4.5.5.64
paramiko==2.10.3
Pillow==9.1.0
pycparser==2.21
PyNaCl==1.5.0
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
tzdata==2022.1
